
  
  .linkedin{
    color: rgba(24,119,242);
  }
  .facebook{
    color: blue;
  }
  .footer-left{
    float: left;
  }
  .footer-right{
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
    .home{
      font-display: right;
    }
    .contact{
      font-display: right;

    }

  }
  

 .card-body-1{
    
      background-image: url('../Images/BackImg.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%
    
  }
  .card-footer {
    flex-shrink: 0;
  }