.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* my css properties */
.header {
  width: 100%; /* Ensure the header covers the full width */
  background-color: #333; /* Add your preferred background color */
  color: white; /* Set text color */
  padding: 10px; /* Add padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.5rem; /* Adjust the icon size as needed */
  margin-right: 10px; /* Add margin between icons if needed */
}



